@import '~iview/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

#create_campaugn{
  padding: 10px 35px;
  font-size: 15px;
  .introduce{
    text-indent: 2rem;
  }
}

#link-list{
  .search{
    font-weight: bold;
    padding-top: 8px;
  }
  .title{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px darkgrey;
    margin-bottom: 15px;
    padding: 10px 15px;
    .tip{
      font-weight: bold;
    }
  }
}

#link-view-report{

  .title{
    font-weight: bold;
  }

  .link{
    color: #2d8cf0;
  }
}
.main{
  padding: 10px 20px;
  width: 100%;
  .create-kind-wrap{
     background-color: #f6f9fd;
    .create-kind{
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin-left: 25px;
      margin-top: 10px;
    }

  }
  .explain{
    font-size: 16px;
    margin-top: 20px;
    padding-left: 25px;
    padding-bottom: 15px;
    border-bottom: solid 1px #bac4ce;
    .form-msg{
      margin-left: 25px;
      margin-top: 20px;
      .row{
        margin-top: 20px;
        .label-tip{
          padding-bottom: 12px;
        }
      }
    }
  }
}

.create-head{
  background-color: #f6f9fd;
  height: 40px;
  border-bottom: solid 1px #bac4ce;
  .title{
    font-size: 20px;
  }
  .help{
    background-color: #f0f3f5;
    margin-left: 10px;
    height: 16px;
    padding: 5px 10px;
    font-size: 13px;
  }
}
